{% extends "app/base.html" %}

{% block content %}

<div class="container" style="padding-top: 80px;">
    <div class="row">
        <div class="col-md-5 mb-3" style="padding-top: 55px; width:500px">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-xs-center"><strong>Order summary</strong></h3>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Mart Product</strong></td>
                                    <td class="text-xs-center"><strong>Grocery Price</strong></td>
                                    <td class="text-xs-center"><strong>Quantity</strong></td>
                                    <td class="text-xs-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td>{{grocery.name}}</td>
                                    <td class="text-xs-center">₹{{grocery.discounted_price}}</td>
                                    <td class="text-xs-center">{{grocery.quantity}}</td>
                                    <td class="text-xs-right">₹{{grocery.discounted_price}}</td>
                                </tr>
                                
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-xs-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-xs-right">₹<b>{{grocery.discounted_price    }}</b></td>
                                </tr>
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-xs-center"><strong>GST</strong></td>
                                    <td class="highrow text-xs-right">₹<b>6 %</b></td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-xs-center"><strong>Delivery Charges</strong></td>
                                    <td class="emptyrow text-xs-right"><b>₹50</b></td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-xs-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-xs-right">₹<b>{{final_price}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-5 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                          <form method="post" action="{% url 'buynowpayment' grocery.id %}">
                                {% csrf_token %}
                                    {% for add in address %}
                                    <label >
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250 mt-4 ml-4">
                                            <div class="card-body d-flex flex-column align-items-start">
                                                <h3 class="mb-0">
                                                    <input type="radio" name="buynow_selected_address" value="{{ add.id }}">
                                                Name: {{add.name}}
                                            </h3>
                                            <p class="card-text mb-auto">Address:{{add.address}} </p>
                                            <p class="card-text mb-auto">City:{{add.city}} </p>
                                            <p class="card-text mb-auto">State: {{add.state}} </p>
                                            <p class="card-text mb-auto">Pincode:{{add.pincode}} </p> 
                                            </div>
                                        </div>
                                    </label>
                                    {% endfor %}
                                       <input type="submit" class="btn btn-primary" value="Proceed to Payment">
                            </form>
                        </div>
                    </div>
                </div>
        </div>
       
    </div>
</div>
{% endblock content %}