{% extends "app/base.html" %}

{% block content %}

<div class="container-fluid profile" style="padding-top: 80px; background-color:white">
    <div class="row">
      <div class="col-md-2 d-none d-md-block sidebar mb-5 mt-5" >
          <nav >
          <div class="sidebar-sticky">
              <ul class="nav flex-row">
              <li class="nav-item">
                  <a class="nav-link active" href="{% url "profile" %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  Dashboard <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{% url "changepassword" %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  Change Password <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="{% url "order" %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  Orders
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url "address" %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  Address
                  </a>
              </li>
              </ul>            
          </div>
          </nav>
      </div> 
      
      <div class="col-lg-5 mt-5">
        <div class="container profile-form border border-success mb-2 rounded" style="background-color: rgba(124, 231, 124, 0.314);">
             <div class="reg ">
                <h3 class="text-primary">Profile</h3>
            </div>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for f in mf%}
                <div class="form-group mr-4 ml-4 ">
                    {{f.label_tag}} {{f}} {{f.errors}}
                </div>
                {% endfor %}
                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-success register-button mb-2 ">
                </div>
            </form>
        </div>
    </div>
      
    </div>
</div>
{% endblock content %}