{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand custom-navbar-brand" href="{% url "home" %}"><img src="{% static "app/images/logo1.svg" %}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample05">
    {% comment %} <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> 
    </ul> {% endcomment %}
    
    
   
    


    <div class="form-horizontal">
      <input name="search" id="search" placeholder="Search" style="width: 500px; height:50px;  border-radius: 10px;"/> 
      <button class="btn btn-outline-primary">Search</button>
    </div>
  </div>
  <div>
    <ul class="navbar-nav mr-auto register">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "profile" %}"><div class="logo">Welcome {{user.first_name}}</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "logout" %}"><i class="fa fa-sign-out" aria-hidden="true"></i><div class="logo">Logout</div></a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "login" %}"><i class="fa fa-sign-in" aria-hidden="true"></i><div class="logo" >Login</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "registration" %}"><i class="fa fa-user" aria-hidden="true"></i><div class="logo" >Registration</div></a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link " href="{% url "showcart" %}">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i><div class="logo">Cart</div>
        </a>
      </li>
    </ul>
  </div>
  
</nav>